APP_NAME= Task Management API
APP_VERSION =
ENVIRONMENT=

DATABASE_URL= postgresql+asyncpg://USERNAME:PASSWORD@localhost:5432/DATABASE 
SECRET_KEY=replace-this-with-a-long-random-string
ACCESS_TOKEN_EXPIRE_MINUTES=1440
